@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;1,100;1,200;1,300&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --bg-black: #0e0e10;
  --text-white: #f8f9fa;
  --accent-red: #BF212F;
  --accent-gray: #282732;

  --spacing: 350px;
  --font-sans: 'Space Grotesk', sans-serif;
  --font-serif: 'IBM Plex Serif', serif;

  font-family: var(--font-sans);
  font-weight: 400;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  margin: 0;
  background-color: var(--bg-black);
  color: var(--text-white);
}

main {
  width: 100%;
  z-index: 99;
  position: absolute;
  margin: 0 auto;
  padding: 120px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

h1, h2, h3, blockquote {
  font-family: var(--font-serif);
  font-weight: 700;
  font-style: normal;
  color: var(--accent-red);
}

p {
  font-family: var(--font-sans);
  font-size: 1.2rem;
  line-height: 1.6;
}

header {
  background: var(--accent-gray);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  border-left: 5px solid var(--accent-red);
}

section {
  grid-column: 2 / 8;
  padding: 2rem;
  background: var(--accent-gray);
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: var(--spacing);
  border-left: 3px solid var(--accent-red);
  box-shadow: 0 0 20px rgba(191, 33, 47, 0.2);
}

blockquote {
  grid-column: 2 / span 9;
  margin: 4rem 0;
  padding-left: 2rem;
  border-left: 6px solid var(--accent-red);
}

blockquote p {
  color: var(--bg-black);
  background-color: var(--text-white);
  font-size: 3rem;
  font-weight: bold;
  display: inline-block;
  padding: 0.5rem 1rem;
  line-height: 1.2;
  font-family: var(--font-serif);
}

.left {
  grid-column: 6 / 12;
  background: var(--accent-gray);
  padding: 2rem;
  border-left: 3px solid var(--accent-red);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
}
